@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Graphik;
    font-weight: 400;
    src: url(../fonts/GraphikRegular.otf) format("opentype");
  }
}
